.margenes-boton{
    margin-top: 5%;
}

.barra{
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
    padding: 3%;
}

ion-content{
    --ion-background-color: #404dff;
}

ion-item{
    --ion-background-color: #ffffff;
}

ion-card{
    --background: #ffffff;
}

ion-icon{
    --background: #c7c7c7;
    font-size: 64px;
}

ion-progress-bar{
    --background: #e80761;
}