<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="eliminando = !eliminando" [color]="eliminando? 'danger':''" >
        <ion-icon name="trash" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Todos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-progress-bar type="indeterminate" *ngIf="cargando"></ion-progress-bar>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentAlert()" *ngIf="eliminando == false" class="animated bounceIn">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>

        <!-- <ion-fab-button (click)="eliminarTarea()" color="danger" *ngIf="eliminando == true"
        class="animated bounceIn">
            <ion-icon name="trash"></ion-icon>
        </ion-fab-button>   -->
    </ion-fab>

    <div *ngIf="(tareas | async)?.length == 0" style="text-align: center; margin-top: 50%">
        <fa-icon [icon]="faFrown" size="6x"></fa-icon>
        <h5>No tasks added</h5>
    </div>  
    <ion-grid>
      <ion-row *ngFor="let item of tareas | async" >
        <ion-col [size]="eliminando? 10 : 12 ">
          <ion-card id="taskCards" 
          [color]="item.completado? 'success' : 'danger' " 
          (click)="cambiarEstado(item)"
          [ngClass]="{'animated': contEstados == 0,'zoomInLeft':contEstados == 0}">
      
            <ion-card-header [color]="item.completado? 'success' : 'danger' ">
              <ion-card-subtitle> {{item.fecha}} - {{item.horario}} </ion-card-subtitle>
              <ion-card-title> {{item.titulo.toUpperCase()}} </ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <h1>{{item.descripcion}}</h1>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="2"  style="margin-top: 20px; " *ngIf="eliminando == true">
          <ion-button style="border-radius: 15px;" (click)="eliminarTarea(item)" mode="md" >
            <ion-icon name="close" 
            (click)="eliminarTarea(item)" ></ion-icon>
        </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


</ion-content>
