<ion-header>
  <ion-toolbar>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item lines="none">
    <ion-label>Categories</ion-label>
    <ion-select  interface="popover" (ionChange)="searchByCategory($event)">
        <ion-select-option value="business">business</ion-select-option>
        <ion-select-option value="entertainment">entertainment</ion-select-option>
        <ion-select-option value="general">general</ion-select-option>
        <ion-select-option value="health">health</ion-select-option>
        <ion-select-option value="science">science</ion-select-option>
        <ion-select-option value="sports">sports</ion-select-option>
        <ion-select-option value="technology">technology</ion-select-option>
      </ion-select>      
</ion-item>
<ion-progress-bar *ngIf="news == null " type="indeterminate"></ion-progress-bar>
<div *ngIf="news == null" style="text-align: center; margin-top: 50%; color: #dedede;">
    <fa-icon [icon]="faNewspaper" size="6x"></fa-icon>
    <h5>News</h5>
</div>
<div *ngIf="news!=null">
  <ion-card *ngFor="let item of news?.articles" (click)="onGoToSingelNewsPage(item)">

    <ion-img [src]='item.urlToImage' ></ion-img>
    <ion-card-header>
      <ion-card-subtitle> 
        <span *ngIf="item.author">Author: {{item.author}}</span> from {{item.source.name}} 
      </ion-card-subtitle>
      <ion-card-title> {{item.title}} </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{separarString(item.content)}}
    </ion-card-content>
  </ion-card>
</div>

</ion-content>
